<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Upload an image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Jigsaw</h1>
    <p>Upload an image from which a jigsaw puzzle should be generated.</p>
    <form action="/" method="post" enctype="multipart/form-data">
        Columns
        <table>
            <tr>
                <td><input type="radio" name="columns" value="3" checked>3<br></td>
                <td><input type="radio" name="columns" value="6">6<br></td>
                <td><input type="radio" name="columns" value="9">9<br></td>
            </tr>
        </table>
        Rows
        <table>
            <tr>
                <td><input type="radio" name="rows" value="3" checked>3<br></td>
                <td><input type="radio" name="rows" value="6">6<br></td>
                <td><input type="radio" name="rows" value="9">9<br></td>
            </tr>
        </table>
        <input type="file" name="file" /><br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>